<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, Java Hipster!</h1>

            <p class="lead" translate="main.subtitle">Services</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                    password="admin".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.register">
                    Don't have an account? <a href=\"#/register\">Register</a>
                </div>
            </div>

            <p>
                Collections:
            </p>

            <ul>
                <div data-ng-repeat="collection in collections">
                    <li><a ng-click="details(collection)" href="#/">{{collection}}</a></li>
                </div>
            </ul>

            <p>

            <div class="alert alert-success">
                {{flash}}
            </div>

            Count: {{collectionCount}}
            </p>

            <p>
                <span translate="main.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a
                href="https://github.com/jhipster/generator-jhipster" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
</div>
